-#= link_to 'Authenticate this Facebook app', @auth_url, :class=>"button", :target => "_TOP"

-#=javascript_tag("window.top.location = #{@auth_url}")
-#:javascript
-#  window.top.location = "#{@auth_url}"