.b-welcome_content {
  height: 330px;
  padding: 350px 0 0 296px;
}

.b-facebook .b-welcome_content {
  height: 94px;
  width: 550px;
  padding: 270px 0 0 190px;
}

.b-welcome_content a {
  margin-right: 49px;
}

.b-welcome_slider {
  background-color: #fcdca1;
}

h3.b-welcome_heading {
  font-size: 16px;
  font-family: Georgia, "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 10px 0 0 10px;
  font-weight: bold;
}

.b-welcome_description {
  padding-top: 10px;
}

.b-welcome_description h3.b-welcome_heading {
  line-height: 18px;
  padding-left: 0;
  padding-top: 10px;
  font-size: 13px;
}

.b-welcome_description p {
  font-size: 13px;
  padding-bottom: 10px;
}

.b-welcome_slider img {
  vertical-align: middle;
  margin-right: 10px;
}

.b-welcome_vote-fav_halloween-costumes {
    margin-top: 180px;
    float: left;
}

.b-welcome_enter-now_halloween-costumes {
    margin-top: 180px;
    float: left;
}

.b-welcome_vote-fav_fb_halloween-costumes {
    margin-top: 30px;
    float: left;
}

.b-welcome_enter-now_fb_halloween-costumes {
    margin-top: 30px;
    float: left;
}