.b-notice {
    position: fixed;
    top: 0px;
    margin-top: 30px;
    right: 20px;
    width: 250px;
    z-index: 10000001;
}

.b-notice_item {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #eee;
    padding: 12px 6px 12px 6px;
    font-family: lucida Grande;
    font-size: 11px;
    font-weight: bold;
    display: block;
    position: relative;
    margin: 0 0 12px 0;
    text-align: center;
}
.b-notice_item_text {
    text-align: left;
    padding-top: 0.5em;
}
.b-notice_item_text ul li {
    margin-left: 1.5em;
    list-style: disc;
}
.b-notice_item_text strong {
    color: yellow;
}
.b-notice_item a {
    color: white;
}
.b-notice .notice {
    background: #49791E;
    border: 2px solid #9EB79E;
}
.b-notice .error {
    background: #980000;
    border: 2px solid #c95656;
}
.b-notice blockquote {
    border: 1px solid #a7a214;
    padding: 0.1em;
    margin: 0.2em 0;
}
.b-notice em {
    background: #a7a214;
}

.b-notice_item_close {
    position: absolute;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    right: 6px;
    top: 6px;
    cursor: pointer;
}
